// colors //

$primary100 : rgba(112,0,255,1);
$primary50 : rgba(112,0,255,.5);
$black100: rgba(0, 0, 0, 1);
$black50: rgba(0, 0, 0, .5);
$lightgray100: rgba(200, 200, 200, 1);
$lightgray50: rgba(200, 200, 200, .5);
$gray100: rgba(100, 100, 100, 1);
$gray50: rgba(100, 100, 100, .5);
$white100: rgba(255,255,255, 1);
$white50: rgba(255,255,255, .5);
$red100: rgba(255,0,0, 1);
$red50: rgba(255,0,0, .5);

// sizes //

$size1: .1rem;
$size2: .2rem;
$size5: .5rem;
$size10: 1rem;
$size20: 2rem;
$size50: 5rem;
$size100: 10rem;